<!--
 This file is part of the Ephoto Connector Bundle package.
-->
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="pim_einden_ephoto_connector___base_url"><%- _.__('ephoto.configuration.base_url.label') %></label>
    </div>
    <div class="AknFieldContainer-inputContainer field-input">
        <input class="ephoto-config  AknTextField" id="pim_einden_ephoto_connector___base_url" placeholder="<%- _.__('ephoto.configuration.base_url.placeholder') %>" name="pim_einden_ephoto_connector___base_url" type="text" value="<%- base_url %>"/>
    </div>
</div>

<div id="copyright">
    <a href="<%- _.__('ephoto.configuration.copyright.url') %>" target="_blank"><img src="/bundles/eindenephotoconnector/images/logo.png"></a>
    <p><%- _.__('ephoto.configuration.copyright.label') %></p>
</div>