<div class="AknAssetCollectionField">
	<div class="AknAssetCollectionField-header AknButtonList AknButtonList--right">
		<span class="AknButtonList-item AknButton AknButton--apply AknButton--withIcon add-asset icons-holder-text">
		<span class="AknButton-icon icon-file"></span>Sélectionner le fichier</span>
	</div>

	<div class="AknMediaField has-file">
		<div class="AknMediaField-preview preview">

			<div class="AknMediaField-thumb file"><img class="AknMediaField-image" src="<%= thumbnail %>"></div>

			<div class="AknMediaField-info info">
				<div class="filename" title="<%= name %>"><%= name %></div>
				<div class="AknButtonList AknButtonList--centered actions">
					<a href="<%= link %>" target="_blank" class="AknButtonList-item AknIconButton AknIconButton--grey open-media"><i class="icon icon-eye-open"></i></a>
					<a href="javascript:;"><span class="AknButtonList-item AknIconButton AknIconButton--grey clear-field "><i class="icon icon-trash"></i></a>
				</div>

			</div>
		</div>
	</div> 
</div>