<div class="AknAssetCollectionField">

    <div class="asset-collection-picker">
        <div class="EindenAssetGallery">
           
            <div class="AknAssetCollectionField-header AknButtonList AknButtonList--right">
                <span class="AknButtonList-item AknButton AknButton--apply AknButton--withIcon add-asset icons-holder-text">
                <span class="AknButton-icon icon-file"></span>Sélectionner le fichier</span>
            </div>
            
            <input name="asset-sids" type="text" placeholder="sids" value="<%= value.data %>" style="display:block !important">
            <ul class="EindenAssetGallery-list <%= assets.length == 0 ? 'empty' : '' %>">
                <% _.each(assets, function(item){ %>
                <li class="EindenAssetGallery-listitem">
                    <!--suppress CssUnknownTarget -->
                    <div class="EindenAssetGallery-thumbnail"
                         style="background-image:none">
                    </div>
                </li>
                <% }); %>
            </ul>
            <br><br> Debug :<br>
            <textera id="debug" style="display:block;background:#eee;width:100%;height:100px;border:1px solid #000">
            	<% _.each(assets, function(item){ %>
            	<%- item.url %> > <%- item.id %><br>
            	<% }); %>
            </textera>
            <!--
            <div class="placeholder">
                <img src="/bundles/pimui/images/upload.png" alt="upload icon">
            </div>
            <div class="clearfix"></div>
            <footer>
                <%= assets.length %> <%= assets.length == 1 ?
                _.__('ephoto.asset management.asset') :
                _.__('ephoto.asset management.assets') %>
                <%= _.__('ephoto.asset management.choosen') %>
            </footer>
            -->
        </div>
    </div>
</div>